/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Merriweather', serif;  /* Declare the base font-family */
}

header, nav, main, footer { 
    /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 100%; 
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    background-color: #09264A;
    padding: 20px;
    overflow: auto;
    margin: auto;
}


header h1 {
    color: #F99820;
    text-align: center;
    
}


header img {
    float:left;    
}


header .subheading {
    color: #F99820;
    text-align: center; 
    font-size: 1.5em;    
}


nav { 
    background-color: #2081F9; 
}

nav button {
    background-color: #2081F9;
    border: solid 2px #F99820;
    padding: .3em;
    margin:auto;
    font-size: 3em;
    color: #F99820;
    cursor: pointer;
    font-size: 1.5em;
}


nav button:hover {
    background-color: #BBBBBB;
    color: #000000;
}


nav ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}


nav ul li {
    float: none;
    position: relative;
}


nav ul li a {
  padding: 10px;}


nav ul li a:hover {
    background-color: #09264A;
}


nav ul li.active a {
    background-color: transparent;
    color: #FFFFFF;
    font-weight: 400;
}

        

h3 {
    background-color: #F99820;
    color: #000000;
    padding: 10px; 
    text-align: center;
    border: 1px solid #000000;    
}


table {
    border-collapse: collapse; 
    width: 100%;
}


thead {
    background-color: #F99820;
  
}


table, td, th {
    border: 1px solid #000000;
    padding: 5px;
}

main {
    padding: 1rem;
    margin: .1em;;
}

main h2 {
    text-align: center;
    color: #2081F9;    
}


main picture { 
    margin: 0 0 .2rem 2%; 
    width:100%; 
    display: block;
}


main picture img {
     display: block;
    margin-left: auto;
    margin-right: auto;    
}

.center {
  text-align: center;
}


.current {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
}


.current img {
    float: left;
    width: 125px;    
}


section .quickweather {
    width: 300px;
}


section .quickweather p {
    text-align: center;
    margin: auto;
}

section .highlow {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}


section .highlow p {
    text-align: center;
    margin: auto;
}


section .conditions {
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
}


section .conditions p { 
    text-align: center;
    margin: auto;
}


.forecast { 
    display: none; 
}


article {
    margin: auto;    
    padding: 0;
    text-align: left;
    outline: #BBBBBB solid 10px;

}
article img {
    width: 30%;
    float: right;
    min-width: 150px;
    max-width: 300px;
}

article h3 {
    background-color: #ffffff;
    color: #F99820;
    text-shadow: 1px 1.2px #000000;
    border: none;

}

article .town-article{
    display: flex;
    flex-direction: column;
    margin:  auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
}


footer {
    background-color: #09264A;
    color: #F99820;
    text-align: center; 
    font-size: .9rem;
}


.contact {
    width: 100%;
    margin: 0;
    padding: .1rem;
    background-color: #2081F9;
    color: #000000;
}


.footer-bar {
  width: 100%;
  padding: .1em;
  background-color: #09264A;
}

.gallery{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px 1em;
  text-align: center;
}



@media only screen and (max-width: 37.5em) {
.responsive {
    color: black;
    display: block;
    max-width: 250px;
    display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
}


    .responsive ul li a {
  display: block;
  padding: 5px;
  margin: 0; 
  font-size: 1.5em;
  border: 1px solid #352e26;
}


}