/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;  /* Declare the base font-family */
}

/* Header */
.logoImage{
    float: left;
    margin: 5px 15px 15px 5px;
    left: 0;
    display: flex;
    max-width: 100%;
    height: auto; 
    width: auto\9; 
}

.headerBackground{
    background:#6B7A8F;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;    
}

.headerBackground h1 {
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
}


/* Navigation */
nav ul.navigation {
  display: none;
}

nav{
    padding: 0px;
    margin:0px;  
}
  
nav ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #6B7A8F;   
}
  
nav li{
    display: block;
    padding: 5px;
    margin: 0; 
    font-size: 1.2em;
    border: 1px solid #352e26;  
}
    
nav ul li a {    
    color: #000000;
    padding: 10px;
    text-decoration: none;      
}
  
  
nav ul li.active{
    background-color: #924534;     
}

nav ul li.active a{
  color: #FFFFFF;
}
  
nav ul li:hover {
    background-color: #DCC7AA;      
}


/*Footer*/
.footerContact{
    background:#6B7A8F;
    height: 90px;
    text-align: center;
    font-size: .8em;
    padding-top: 10px;   
}

/* Content Sections */

.mainArea {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px 1em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.infoSection {
    border: 1px solid #F7882F;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.infoSection h2{
    background-color: #F7882F;
    padding: 4px;
}

.mainArea h3{
    display: flex;
    background-color: #F7882F;
    padding: 4px;
    width: 100%;
}

.infoSection img {
 
    /*margin: 5px 15px 15px 5px; */
    max-width: 100%;
    height: auto; 
}

.topArea h2 {        
    background-color: #DCC7AA;
}

.topArea .infoSection {
    border: 1px solid #DCC7AA;
}

.mainAdventure {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px 1em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
}

.mainAdventureInfo{
    display:block;
    align-items: center;
}

.mainAdventureInfo img{
    display:block;
    align-items: center;
    float: left;
}
 
.eventArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 1em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.eventArea .eventImg{
    display:flex;
    height: 120px;
    width: 100%;
    padding: 5px; 
}

.infoSection ul {
    text-align: left;
}

/* Table */
table,th,td {
    border: 1px solid #000000;
    border-collapse: collapse;
    text-align: left;
    padding: 10px;
    margin: 10px;
   
}

table, .sales-menu {
  margin-left: auto;
  margin-right: auto;
}

thead {
  background-color: #BBBBBB;
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
  
}

tbody>tr>th {
  background-color: #F7882F;
  color: #423c3c;
  font-size: 1.3em;
  
}

tbody>tr:nth-child(even) {
  background: #DCC7AA;
}

tbody>tr:nth-child(odd) {
  background: #F7C331;
}


tbody {
  
}

tfoot {
  font-size: .7em;
  background-color: #BBBBBB;
  color: #000000;
 

}
}