@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */
header button { display: none; }
    
nav button { 
    display: none; 
}  
/* hamburger button does not need to be shown in the medium on up views */
    
    
nav{
    position: flex;
    display:inline-block;
    float: right;
    width: 75%;
    
    
}
    
.headerBackground h1 {
    font-size: 2em;
}

nav ul{
    margin: 0;
    padding: 0;
    
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    border-right: 1px solid #000000;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
    font-size: 1.5em;
}
    
nav li:last-child {
    border-right: none;
}   
    
nav li a {
    color: #000000;
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;  
}    

nav li.active a {
    color: #FFFFFF;
}
    

nav li a:hover {
    background-color: #DCC7AA;
    color: #000000;
}

.gallery{
display: grid;
grid-template-columns: 1fr 1fr;
grid-gap: 10px 1em;
text-align: center;
}
    
}