body {
  font-family: 'Ubuntu', sans-serif;
}

table {
  width: 270px;
  box-shadow: 6px 8px 30px -2px #628CA6;
}

table, th, td {
  border: 1px solid #D3D3D3;
  border-collapse: collapse;
}

thead, tbody, tfoot {
  background-color: #7FB9C2;
  text-align: center;
}

thead>tr>th {
  font-size: 25px;
  font-weight: bold;
  padding: 8px;
}

tbody tr td {
  font-size: 16px;
  font-weight: lighter;
  text-align: center;  
  padding: 6px;  
}

tbody>tr th {
  padding: 8px 0;
  background-color: #628CA6;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 800;
}

tbody tr:nth-child(even) {
  background-color: #E7F0ED;
}

tbody tr:nth-child(odd) {
  background-color: #E7FFED;
}

tbody tr:nth-child(5) td:nth-child(3) {
  background-color: #628CA6;
  color: #fff;
}

tbody tr:nth-child(6) td:nth-child(1) {
  font-style: italic;
}

tfoot {
  text-align: center;
  font-size: 11px;
  letter-spacing: .25px;
}

tfoot > tr > td {
  padding: 7px;
}
